@use "../../styles/abstracts" as *;

.header {
	display: flex;
	justify-content: space-between;

	&__profile {
		background: $dark-blue-1;
		max-width: var(--sidebar-width);
		min-width: var(--sidebar-width);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: var(--medium-gap);
		padding: 2%;
	}

	&__picture-wrapper {
		position: relative;
		background: $dark-blue-1;
		width: var(--sidebar-width);
		text-align: center;
		width: 70%;
		display: flex;

		&::after{ // picture bevel effect
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			box-shadow: inset 0 0 0 calc(var(--small-gap) * 0.7) white;
			mix-blend-mode: overlay;
		}
	}

	&__picture {
		width: 100%;
		border-radius: 50%;
	}

	.heading {
		--name-size: calc(var(--font-size-h2-plus) * 1.36);
		flex-grow: 1;
		background: $grey-1;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 var(--content-side-padding);

		&__name {
			white-space: nowrap;
			color: $dark-blue-1;
			font-weight: 600;
			font-size: var(--name-size);
			margin: 0;
		}

		&__job {
			border-top: clamp(2px, 0.4vw, 1rem) solid $grey-2;
			color: $grey-2;
			font-size: var(--font-size-h2-plus);
			font-weight: 400;
			line-height: var(--name-size);
		}
	}
}