@use "../../styles/abstracts" as *;


.header {
	display: flex;
	justify-content: space-between;
}


.picture_container {
	background: $dark-blue-1;
	width: var(--sidebar-width);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.4vw;
	padding: 2%;
}


.picture_wrapper {
	position: relative;
	background: $dark-blue-1;
	width: var(--sidebar-width);
	text-align: center;
	width: 70%;
	display: flex;

	&::after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50%;
		box-shadow: inset 0 0 0 0.35vw white;
		mix-blend-mode: overlay;
	}
}


.picture {
	width: 100%;
	border-radius: 50%;
	
}


.heading_section {
	flex-grow: 1;
	background: $grey-1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--content-padding);
}


.name {
	white-space: nowrap;
	color: $dark-blue-1;
	font-weight: 600;
	font-size: 4.1vw;
	margin: 0;
}


.job {
	border-top: clamp(2px, 0.4vw, 1rem) solid $grey-2;
	color: $grey-2;
	font-size: 2.95vw;
	font-weight: 400;
	line-height: 4vw;
}