@use "../../styles/abstracts" as *;

.sidebar {
	max-width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	padding: 0 var(--content-side-padding);
	color: $white-1;
	background: $dark-blue-1;
}

