@use "../../styles/abstracts" as *;

.identity-popup {
	&__heading {
		font-size: var(--font-size-h2-plus);
	}

	&__description {
		margin-top: var(--font-size-normal);
		font-size: var(--font-size-h3);
	}
}