@use "../../styles/abstracts" as *;

.experience {
	text-align: left;
	margin-bottom: 1.5vw;
	
	&__link:hover {
		text-decoration: underline;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		p {
			font-weight: 500;
		}
	}

	&__list {
		list-style-type: disc;

		li {
			margin: var(--content-padding);
			margin-right: 0;
			margin-bottom: 0.5vw;
			margin-top: 0.5vw;
		}
	}
}