@use "../../styles/abstracts" as *;

.experience {
	text-align: left;
	margin-bottom: var(--medium-gap);
	
	h3 {
		span { // qualification level
			white-space: nowrap;
		}
	}

	&__link:hover {
		text-decoration: underline;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		p {
			font-weight: 500;
		}
	}

	&__list {
		list-style-type: disc;

		li {
			margin: var(--small-gap) 0 var(--small-gap) var(--content-side-padding);
		}
	}
}