@use "../../styles/abstracts" as *;

.skill-tag {
	--btn-side-padding: 0.15vw;
	border: none;
	background: none;
	color: $grey-2;
	padding: var(--btn-side-padding);
	border-radius: calc(var(--btn-side-padding) * 1.5);
	margin: var(--btn-side-padding) var(--btn-side-padding) 0 var(--btn-side-padding);

	&--active { 
		background: $dark-blue-1;
		color: $white-1;

		&:hover {
			background: $grey-2 !important;
		}
	}

	&:hover {
		background: $grey-1;
	}
}
