@use "../../styles/abstracts" as *;

.section {
	
	h2 {
		text-align: center;
		width: 100%;
	}

	&--side {
		margin-top: 2.5vw;

		h2 {
			border-bottom: 2px solid white;
			margin-bottom: 0.6vw;
		}
		
		p {
			line-height: 1.2vw;
		}
	}

	&--main {
		padding-bottom: 0.75vw;
		margin-bottom: 2.25vw;

		h2 {
			margin-bottom: 3vw;
		}

		&:not(:last-child) {
			border-bottom: 2px solid $grey-1;
		}
	}
}