@use "../../styles/abstracts" as *;

.section {

	h2 {
		text-align: center;
		width: 100%;
	}

	&--side {
		margin-top: var(--large-gap);

		h2 {
			border-bottom: 2px solid white;
			margin-bottom: calc(var(--small-gap) * 1.2);
		}
		
		p {
			line-height: calc(var(--font-size-h3) * 1.1);
		}
	}

	&--main {
		padding-bottom: calc(var(--larger-gap) * 0.25);
		margin-bottom: calc(var(--larger-gap) * 0.75);

		h2 {
			margin-bottom: var(--larger-gap);
		}

		&:not(:last-child) {
			border-bottom: 2px solid $grey-1;
		}
	}
}