@use "../../styles/abstracts" as *;

.section {
	text-align: center;
	
	h2 {
		width: 100%;
		font-size: 1.75vw;
		line-height: 2vw;
	}

	h3 {
		font-size: 1.1vw;
		line-height: 1.75vw;
	}

	&--side {
		margin-top: 2.5vw;

		h2 {
			border-bottom: 2px solid white;
			margin-bottom: 0.6vw;
		}
		
		p {
			line-height: 1.2vw;
			padding: 0 2.1vw;
		}
	}

	&--main {
		padding-bottom: 0.75vw;
		margin-bottom: 2.25vw;

		h2 {
			margin-bottom: 3vw;
		}

		&:not(:last-child) {
			border-bottom: 2px solid $grey-1;
		}
	}
}