@use "../../styles/abstracts" as *;

.skill-category {
	text-align: left;
	margin: var(--medium-gap) 0;

	&:first-of-type {
		margin-top: var(--small-gap);
	}

	.skill-tag {
		color: $white-1;

		&--active {
			background: $white-1;
			color: $dark-blue-1;
		}

		&.desktop:hover {
			background: $grey-2;
		}
	}
}