@use "../../styles/abstracts" as *;

.skill-category {
	text-align: left;
	margin: 1.5vw 0;

	&:first-of-type {
		margin-top: 0.5vw;
	}

	.skill-tag {
		color: $white-1;

		&--active {
			background: $white-1;
			color: $dark-blue-1;
		}

		&:hover {
			background: $grey-2;
		}
	}
}