@use "./base" as *;
@use "./abstracts" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--content-width: 80vw;
	--content-padding: 0 1.5vw;
	--sidebar-width: 30%;
}


body {
	background-color: $dark-blue-2;
	padding-top: 5vh;
	font-family: "Montserrat";
}


header, 
main, 
footer {
	width: var(--content-width);
	margin: auto;
}


main {
	display: flex;
	justify-content: center;
	
	.content {
		flex-grow: 1;
		background: $white-1;
	}
}

h1, h2, .subheading {
	font-family: "Poppins";
}


.hidden {
	display: none;
}

/*
@use "./assets/style" as *;
@use "./components/components";
@use "./pages/pages";

::selection {
	color: $white-bg-normal;
	background-color: $blue-text-normal;
}

hr {
	width: calc(var(--base-font-size) * 5);
	margin: 1.5rem auto 3rem auto;
	border: 1px solid $blue-text-shadow;
}


body {
	--base-font-size: 1.5vmin;
	--scroll-y: 1px;
	$base-size: var(--base-font-size);
	$scroll: var(--scroll-y);
	background: $white-bg-normal;
	color: $grey-text-normal;
	font-family: $montserrat;
	font-size: var(--base-font-size);



	background: linear-gradient(
        $white-bg-normal calc($base-size * 70 - $scroll * 0.5), 
		$blue-bg-gradient-top calc($base-size * 70 - $scroll * 0.5),
		//blue gradient starts here more starts lower 
		//less starts higher cap 70
		$blue-bg-gradient-top calc($base-size * 180 - $scroll), 
		$blue-bg-gradient-bot calc($base-size * 200),
		$white-bg-normal 0
    );
}

p {
	line-height: calc(var(--base-font-size) * 1.8);
}



@media screen and (max-width: 900px) {
	body {
		--base-font-size: 1.45vmin;
	}
}

@media screen and (max-width: 500px) {
	body {
		--base-font-size: 2.25vmin;
	}
}

@media screen and (max-width: 300px) {
	body {
		--base-font-size: 3vmin;
	}
}
*/